### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup

import pandas as pd
import numpy as np

# File to Load (Remember to Change These)

file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Count total number of players

total_players = len(purchase_data["SN"].value_counts())

# Create a Data Frame with total number of players

total_players_count = pd.DataFrame({"Total Players":[total_players]})

total_players_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculation of (Number of Unique Items), (Average Purchase Price), (Total Number of Purchases) and (Total Revenue)

number_of_unique_items = len(purchase_data["Item ID"].unique())

average_purchase_price = purchase_data["Price"].mean()

total_number_of_purchases = purchase_data["Purchase ID"].count()

total_revenue = purchase_data["Price"].sum()

# Create a Summary Data Frame to hold the results

summary_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                          "Average Purchase Price": [average_purchase_price],
                          "Total Number of Purchases": [total_number_of_purchases],
                          "Total Revenue": [total_revenue]
                          })

# Give the displayed data cleaner formatting and Run Data Frame

# summary_df["Average Purchase Price"] = summary_df["Average Purchase Price"].map("${:.2f}".format)
# summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,}".format)

summary_df.style.format({"Average Purchase Price": "${:.2f}",
                         "Total Revenue": "${:,}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group original Data Frame by "Gender"

gender_statistics = purchase_data.groupby(["Gender"])

# Count the total of "SN" by gender

total_count_gender = gender_statistics["SN"].nunique()

# Find percentage of players by gender

percentage_of_players = total_count_gender / total_players * 100

# Create data frame with obtained values

gender_df = pd.DataFrame({"Total Count": total_count_gender, 
                          "Percentage of Players": percentage_of_players})

# Format the data frame with no index name in the corner

gender_df.index.name = None

# Give the displayed data cleaner formatting and Run Data Frame

# gender_df.style.format({"Percentage of Players": "{:.2f}"})

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}".format)
 
# Format the values sorted by total count in descending order

gender_df.sort_values(["Total Count"], ascending = False)

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Count (The Total Purchases by Gender), (The Average Purchase Prices by Gender), (The Total Purchase Value by Gender)

purchase_count = gender_statistics["Purchase ID"].count()

average_purchase_price = gender_statistics["Price"].mean()

total_purchase_value = gender_statistics["Price"].sum()

# Count the average purchase total per person by gender

average_purchase_total_per_person = total_purchase_value / total_count_gender

# Create data frame with obtained values

df_by_gender = pd.DataFrame({"Purchase Count": purchase_count,
                            "Average Purchase Price": average_purchase_price,
                            "Total Purchase Value": total_purchase_value,
                            "Avg Total Purchase per Person": average_purchase_total_per_person})


# Create index name "Gender"

df_by_gender.index.name = "Gender"

# Give the displayed data cleaner formatting and Run Data Frame 

# df_by_gender["Average Purchase Price"] = df_by_gender["Average Purchase Price"].map("${:.2f}".format)
# df_by_gender["Total Purchase Value"] = df_by_gender["Total Purchase Value"].map("${:,.2f}".format)
# df_by_gender["Avg Total Purchase per Person"] = df_by_gender["Avg Total Purchase per Person"].map("${:.2f}".format)

df_by_gender.style.format({"Average Purchase Price": "${:.2f}",
                           "Total Purchase Value": "${:,.2f}",
                           "Avg Total Purchase per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages

age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels = age_groups)

# Create new data frame with the added "Age Group" and group it

age_grouped_df = purchase_data.groupby(["Age Group"])

# Calculate the numbers and percentages by age group

total_count_by_age = age_grouped_df["SN"].nunique()

percentage_by_age = total_count_by_age / total_players * 100

# Create a summary data frame to hold the results

df_grouped_by_age = pd.DataFrame({"Total Count": total_count_by_age,
                                 "Percentage of Players": percentage_by_age})

# Format the data frame with no index name in the corner

df_grouped_by_age.index.name = None

# Give the displayed data cleaner formatting Run Data Frame

#df_grouped_by_age["Percentage of Players"] = df_grouped_by_age["Percentage of Players"].map("{:,.2f}".format)

df_grouped_by_age.style.format({"Percentage of Players": "{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# We did Establish bins for ages above:
# age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99]
# age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Count (Purchase Count by Age Group), (Average Purchase Price by Age Group), (Total Purchase Value be Age Group)

purchase_count_by_age = age_grouped_df["Purchase ID"].count()

average_purchase_price_by_age = age_grouped_df["Price"].mean()

total_purchase_value_by_age = age_grouped_df["Price"].sum()

# Calculate the average purchase per person in the age group

average_purchase_total_per_person_by_age = total_purchase_value_by_age / total_count_by_age

# Create data frame with obtained values

df_summary_by_age = pd.DataFrame({"Purchase Count": purchase_count_by_age,
                                  "Average Purchase Price": average_purchase_price_by_age,
                                  "Total Purchase Value": total_purchase_value_by_age,
                                  "Avg Total Purchase per Person": average_purchase_total_per_person_by_age})

# Format the data frame with no index name in the corner

df_summary_by_age.index.name = None

# Give the displayed data cleaner formatting and Run Data Frame 

#df_summary_by_age["Average Purchase Price"] = df_summary_by_age["Average Purchase Price"].map("${:.2f}".format)
#df_summary_by_age["Total Purchase Value"]= df_summary_by_age["Total Purchase Value"].map("${:.2f}".format)
#df_summary_by_age["Avg Total Purchase per Person"] = df_summary_by_age["Avg Total Purchase per Person"].map("${:.2f}".format)

df_summary_by_age.style.format({"Average Purchase Price": "${:.2f}",
                                "Total Purchase Value": "${:.2f}",
                                "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Group purchase data by "SN"

spenders = purchase_data.groupby("SN")

# Calculate Purchase Count, Average Purchase Price and Total Purchase Value

purchase_count_by_spenders = spenders["Purchase ID"].count()

average_purchase_price_by_spenders = spenders["Price"].mean()

total_purchase_value_by_spender = spenders["Price"].sum()

# Create data frame with obtained values

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_by_spenders,
                             "Average Purchase Price": average_purchase_price_by_spenders,
                             "Total Purchase Value": total_purchase_value_by_spender})

# Sort Data Frame by Total Purchase Value to find top 5 spenders

sorted_top_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending = False)

# Give the displayed data cleaner formatting and Run Data Frame

#sorted_top_spenders["Average Purchase Price"] = sorted_top_spenders["Average Purchase Price"].map("${:,.2f}".format)
#sorted_top_spenders["Total Purchase Value"] = sorted_top_spenders["Total Purchase Value"].map("${:,.2f}".format)

sorted_top_spenders.head().style.format({"Average Purchase Price": "${:,.2f}",
                                         "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#  Retrieve the Item ID, Item Name, and Item Price columns

items_data = purchase_data[["Item ID", "Item Name", "Price"]]

# Group items data by "Item ID" and "Item Name"

items = items_data.groupby(["Item ID", "Item Name"])

# Purchase Count 

purchase_count_by_items = items["Price"].count()

# Total Purchase Value

total_purchase_value_by_items = items["Price"].sum()

# Item Price

items_price = total_purchase_value_by_items / purchase_count_by_items

# Create data frame with obtained values

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_by_items,
                                   "Item Price": items_price,
                                   "Total Purchase Value": total_purchase_value_by_items})


# Sort Data Frame by Purchase Count to find most popular items

sorted_most_popular_items = most_popular_items.sort_values(["Purchase Count"], ascending = False)


# Give the displayed data cleaner formatting and Run Data Frame

#sorted_most_popular_items["Item Price"] = sorted_most_popular_items["Item Price"].map("${:,.2f}".format)
#sorted_most_popular_items["Total Purchase Value"] = sorted_most_popular_items["Total Purchase Value"].map("${:,.2f}".format)

sorted_most_popular_items.head().style.format({"Item Price": "${:,.2f}",
                                        "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Take the "Sorted Most Popular Items" data frame and change the sorting to find highest Total Purchase Value

sorted_total_purchase_value = sorted_most_popular_items.sort_values(["Total Purchase Value"], ascending = False)

# Give the displayed data cleaner formatting and Run Data Frame

sorted_total_purchase_value.head().style.format({"Item Price": "${:,.2f}",
                                        "Total Purchase Value": "${:,.2f}"})